body{
  margin: 0px;
  font-family: 'Nanum Gothic', sans-serif;
}
#name{
  font-family: 'Concert One', cursive;
  color: palevioletred;
  font-size: 40px;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(rgb(241, 134, 233), rgb(252, 14, 14));
  padding: 10px 20px;
  border-radius: 10px;
  color:white;
  font-weight: 700;

}
.half-part{
  width: 30%;
  float:left;
  margin-left:1%;
  padding-top: 5%;
  padding-left:15%;
}
.half-part img{
  width:100%;
  
}
.header-background{
  background-image: url("images/header-bg.png");
  background-repeat: no-repeat;
  background-size: 1000px;
}
section{
  height:1000px;
}